<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Nombre*</mat-label>
        <input formControlName="nombre" matInput/>
        <mat-error *ngIf="form.invalid">{{obtnerErrorCampoNombre()}}</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>
        <a mat-stroked-button routerLink="/genero">
            Cancelar
        </a>
    </div>
</form>