<form (submit)="guardarCambios()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput>
        <mat-error>El campo título es requerido</mat-error>
    </mat-form-field>
    <div class="contenedor-checkbox">
        <mat-checkbox formControlName="enCines">En cines</mat-checkbox>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Trailer</mat-label>
        <input formControlName="trailer" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Fecha de Lanzamiento</mat-label>
        <input formControlName="fechaLanzamiento" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-input-img 
    [urlImagenActual]="modelo?.poster"
    (archivoSeleccionado)="archivoSeleccionado($event)"></app-input-img>

    <h4>Resumen de la película</h4>
    <app-input-markdown
     [contenidoMarkDown]="modelo?.resumen"
     (changeMarkDown)="changeMarkdown($event)" [placeholderTextarea]="'Resumen'"></app-input-markdown>

     <div>
         <h4>Seleccione los generos</h4>
         <app-selector-multiple
         [Seleccionados]="generosSeleccionados"
          [NoSeleccionados]="generosNoSeleccionados"></app-selector-multiple>
     </div>

     <div>
        <h4>Seleccione los cines</h4>
        <app-selector-multiple
        [Seleccionados]="cinesSeleccionados"
         [NoSeleccionados]="cinesNoSeleccionados"></app-selector-multiple>
    </div>

    <div>
        <h4>Seleccione los actores</h4>
        <app-autocomplete-actores></app-autocomplete-actores>
    </div>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
            Guardar cambios
        </button>
        <a mat-stroked-button routerLink="/">Cancelar</a>
    </div>
</form>