<div>
    <button type="button" mat-raised-button (click)="fileInput.click()">
        Seleccionar Imagen
    </button>
    <input type="file" hidden #fileInput (change)="change($event)"/> 
</div>
<div>
    <div *ngIf="imagenBase64">
        <img [src]="imagenBase64" />
    </div>
    <div *ngIf="urlImagenActual">
        <img [src]="urlImagenActual" />
    </div>
</div>