<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon >local_movies</mat-icon>Angular Películas
        </a>
    </span>
    <div>
        <a mat-button routerLink="peliculas/buscar">
            <mat-icon>search</mat-icon>Buscar Películas
        </a>
    </div>
    <div>
        <a mat-button routerLink="generos">Géneros</a>
    </div>
    <div>
        <a mat-button routerLink="actores">Actores</a>
    </div>
    <div>
        <a mat-button routerLink="cines">Cines</a>
    </div>
    <div>
        <a mat-button routerLink="peliculas/crear">Crear pélicula</a>
    </div>
</mat-toolbar>  