

<!-- 
<input type="file" style="display: none;" #cargador>
<button (click)="cargador.click()">Cargar Archivo</button>
 -->

<app-menu></app-menu>


<div class="contenedor">
    <router-outlet></router-outlet>
</div>