form {
    width: 100%;
    max-width: 500px;
}

mat-form-field {
    width: 100%;
}

img {
    vertical-align: middle;
    margin-right: 8px;
    width: 35px;
    height: 45px;
}

table{
    width: 100%;
    margin-bottom: 1rem;
}

mat-icon {
    cursor: pointer;
}