<form>
    <mat-form-field>
        <input type="text" placeholder="Seleccione los actores" matInput [formControl]="control"  [matAutocomplete]="auto"/>
    </mat-form-field>
    <mat-autocomplete #auto
        (optionSelected)="optionSelected($event)">
        <mat-option *ngFor="let actor of actores" [value]="actor">
            <img [src]="actor.foto" /> {{actor.nombre}}
        </mat-option>
    </mat-autocomplete>
</form>

<table mat-table *ngIf="actoresSeleccionados.length > 0" 
    [dataSource]="actoresSeleccionados" class="mat-elevation-z8"
    cdkDropList
    [cdkDropListData]="actoresSeleccionados"
    (cdkDropListDropped)="finalizarArrastre($event)"
    >
    <ng-container matColumnDef="imagen">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">
            <img style="width: 35px; height: 45px;" [src]="element.foto" />
        </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
            {{element.nombre}}
        </td>
    </ng-container>

    <ng-container matColumnDef="personaje">
        <th mat-header-cell *matHeaderCellDef>Personaje</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field appearance="outline" style="margin-top: 10px;">
                <mat-label>Personaje</mat-label>
                <input matInput [(ngModel)]="element.personaje" />
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
            <mat-icon mat-list-icon (click)="eliminar(element)">
                close
            </mat-icon>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: columnasAMostrar" 
    cdkDrag [cdkDragData]="row"
    >
    </tr>
</table>
