<h2>En cines</h2>

    <app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>

    <h2>Próximamente</h2>

    <app-listado-peliculas [peliculas]="peliculasProximos"></app-listado-peliculas>